<div class="col-md-4 col-xs-6">
    <div class="product">
        <div class="product-img">
            <img src="{{ game.img.url }}" alt="">
        </div>
        <div class="product-body">
            <p class="product-category">{{ game.category }}</p>
            <h3 class="product-name"><a href="#">{{ game.name }}</a></h3>
            {% if game.price_on_sale %}
                <h4 class="product-price">{{ game.price_on_sale }}₽
                <del class="product-old-price">{{ game.price }}₽</del>
            {% else %}
                <h4 class="product-price">{{ game.price }}₽

            {% endif %}
            </h4>
            <div class="product-rating">
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                        class="tooltipp">add to wishlist</span></button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span
                        class="tooltipp">add to compare</span></button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
        </div>
        <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> купить </button>
        </div>
    </div>
</div>
